{% extends "todolist/base.html" %}

{% block content %}
    <h2>The list:</h2>

    <br>
    <div class="row">
      <div class="col-sm-8">
        <ol>
            {% for list, num in lists.items %}
                <li>
                    <a href="{% url 'todolist:list_page' list.id%}"><strong>{{list}}</strong></a>

                </li>
                <br>
            {% endfor %}
        </ol>
      </div>
      <div class="col-sm-2">
        <ul style="list-style-type:none;">
            {% for list, num in lists.items %}
                <li>
                    {% if num == 0 %}
                        <button class="btn danger">Nothing's done</button>
                    {%elif num >= 0.5 %}
                        <button class="btn warning">More than half way</button>
                    {% else %}
                        <button class="btn success">Finished</button>
                    {% endif%}
                </li>
            <br>
            {% endfor %}
        </ul>
      </div>
    </div>

{% endblock content %}