{% extends "todolist/base.html" %}

{% block content %}
{% for item in list.todoitem_set.all %}
{% if item.done is False %}
<p>0. {{item.name}}  is not done</p>
{% else %}
<p>1. {{item.name}} is done</p>
{% endif %}
{% endfor %}


<h1>{{ list.title }}: {{list.completed}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'todolist:test_page' list.id %}" method="post">
{% csrf_token %}
{% for item in list.todoitem_set.all %}
    <input type="checkbox" name="done" id="item{{ forloop.counter }}" value="{{ item.id }}">
    <label for="item{{ forloop.counter }}">{{item.name}}</label><br>
{% endfor %}
<input type="submit" value="update my list">
</form>


{% endblock content %}