{% extends "todolist/base.html" %}

{% block content %}
    <h3>Here is what you have to do:</h3>
    <br>
    <p><h4>{{list}}: ({{list.completed}} completed)</h4></p>
    <br>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'todolist:list_page' list.id %}" method='post'>
    {% csrf_token%}
    <ol>
        {% for item in list.todoitem_set.all %}
            <li>
                <h5>{{item.name}}</h5>

                <div class="row">
                      <div class="col-sm-2">
                          {% if item.done is False%}
                              <label class="checkbox-inline">Done:</label >
                                  <input type="checkbox" name="done" id="item{{ forloop.counter }}" value="{{ item.id }}" data-toggle="toggle">
                          {% else %}
                              <label class="checkbox-inline">Done:</label>
                                  <input type="checkbox" checked disabled data-toggle="toggle">

                          {% endif %}
                      </div>
                      <div class="col-sm-6">
                          {% if item.done is True%}
                            {{item.description}}
                          {% else %}
                            {{item.description}}
                          {% endif %}
                      </div>

                      <div class="col-sm-4">
                          {% if item.days_left == "Overdue!!!" %}
                            <p style="background-color:Tomato;">Status: {{item.days_left}}</p>
                          {% elif item.days_left == "Due today!" %}
                            <p style="background-color:Orange;">Status: {{item.days_left}}</p>
                          {% else %}
                            <p>Status: {{item.days_left}} days left</p>
                          {% endif%}
                      </div>
                </div>
            </li>
        {% endfor %}
    </ol>

    <input type="submit" value="Update my list">
    </form>


{% endblock content %}